@use 'sass:color';
@use 'sass:math';

$background-color: #fff;
$text-color: #222;

$nav-bar-height: 60px;
$nav-bar-padding: 0 20px;
$nav-items-max-width: 800px;

$header-font-family: 'Inter', serif; // TO FIX: serif is for making errors obvious
$header-font-sizes: 30px 26px 22px 18px 16px 14px;
$header-font-weights: 700 700 700 700 700 700;
$header-line-height: 1.5;
$header-color: $text-color;

// Efficient way of specifying `inset` while keeping browser compatibility
@mixin inset($top, $right, $bottom, $left) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

// Efficient way of specifying header styles
@mixin header-text($header-level) {
  font-family: $header-font-family;
  font-size: nth($header-font-sizes, $header-level);
  font-weight: nth($header-font-weights, $header-level);
  line-height: $header-line-height;
  color: $header-color;
}

// A consistent interaction design for clickable links
@mixin anchor-text($color: $link, $hover-color: $color, $hover-background-color: transparent) {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.1em !important;

  text-decoration-color: transparent;
  transition: text-decoration-color ease-in-out 0.28s 0.02s, background-color ease-in-out 0.28s 0.02s,
    color ease-in-out 0.28s 0.02s;

  color: $color;

  &:visited {
    color: $color;
  }

  // Warning: due to a mysterious bug on desktop Safari, you NEED `color` or `background-color` to change
  //          in order for `text-decoration-color` to transition correctly. This applies to certain cases,
  //          including but not limited to: when display flex, grid, or inline-flex are used.
  &:focus,
  &:hover {
    text-decoration-color: $hover-color;
    transition: text-decoration-color ease-in-out 0.01s, background-color ease-in-out 0.01s, color ease-in-out 0.01s;

    color: $hover-color;
    background-color: $hover-background-color;
  }
}
