@import 'base.scss';

@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
*:before,
*:after {
  // The extent of our normalization efforts
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
}

:root {
  // Prevents text from appearing larger than usual on mobile devices
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

html {
  // TO DELETE: for debugging only
  background-color: red;
}

body {
  position: relative;

  min-height: 100vh;
  // Fixes iOS Safari, where vh mysteriously counts the space under the collapsible search bar
  @supports (-webkit-touch-callout: none) {
    min-height: -webkit-fill-available;
  }

  background-color: $background-color;
  color: $text-color;

  font-family: 'Inter', serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Inter', serif;
}

a,
button {
  // Prevents gray highlight on iOS on tap
  -webkit-tap-highlight-color: transparent;
}

main {
  background-color: rgba(0, 0, 0, 0.1);
}
