@import 'common.scss';

*,
*:before,
*:after {
  // The extent of our normalization efforts
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
}

:root {
  // Prevents text from appearing larger than usual on mobile devices
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

html {
  background-color: $background-color;
}

body {
  position: relative;

  // Force scrollbar on every page to avoid layout jumping between pages
  overflow-y: scroll;

  @include full-screen-height;

  background-color: $background-color;
  color: $text-color;

  font-family: X;
}

@for $header-level from 1 through 6 {
  h#{$header-level} {
    @include header-text($header-level);
  }
}

a,
button {
  // Prevents gray highlight on iOS on tap
  -webkit-tap-highlight-color: transparent;
}

img,
video {
  display: block;
  min-width: 0;
  width: 100%; // Necessary to prevent gap bug on Safari
  max-width: 100%;
}

main {
  text-align: center;
}

.top-level-section {
  @include full-screen-height;

  padding: 0 2rem;
}
